body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;

}

header{
  background-color: rgb(152, 237, 204);
  color: rgb(27, 146, 71);
  text-align: center;
}

main{
  border-bottom: 1.5px solid blanchedalmond;
  text-align: center;
}

p{
  font-size: 100%;
  text-align: center;
  /* border-bottom: 1px solid blanchedalmond; */ 
  height: 100%;
}

ul{
  /* padding: 0; */
  border-top: 1px solid #0000;
  display: table;
  table-layout: fixed;
  width: 50%; 
}

/* .vegetable_li_1{
  display: flex;
  justify-content: center;
  list-style-type: none;
  border: 1px solid #666;
  background-color: ivory;
  cursor: pointer;
  width: 30%;
  display: table-cell;
} */
/* .vegetable_li_1{
  display: flex;
  justify-content: center;
}

.vegetable_li_2{
  display: flex;
  justify-content: center;
}

.vegetable_li_3{
  display: flex;
  justify-content: center;
} */

#vegetable_rightside_1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vegetable_rightside_2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vegetable_rightside_3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  list-style-type: none;
  border: 1px solid #666;
  background-color: ivory;
  display: table-cell; 
  cursor: pointer;
  width: 30%;
}

li:hover{
  background: rgb(53, 200, 129);
  color: white;
}

.vegetable_input_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vegetable_input_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vegetable_input_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


textarea {
  margin: 5%;
  width: 50%;
  font-size: 80%;
  box-shadow: 5px 5px rgb(96, 96, 96);
}

input {
  /* margin-top: 10%; */
  width: 200%;
  font-size: 80%;
  box-shadow: 3px 3px #555;
}

.vegetable_input_1{
  display: flex;

}

textarea{
  height: 300px;
}

input{
  height: 50px;
}

#menu{
  justify-content: center;
}

.vegetable_text_1{
  margin-bottom: 10%;
}

.vegetable_text_2{
  margin-bottom: 10%;
}

.vegetable_text_3{
  margin-bottom: 10%;
}

/* .vegetable_text_2{
  /* display: flex; */
/* }

.vegetable_text_3{
  display: flex;
} */ 

/* #ADFF2F */